<br /><br />
<!-- <p style="text-align: center; font-size: 7pt">[ <a href="http://dev.xoops.org/modules/xfmod/project/?xcgal" target="_blank">xcGallery</a> powerd by <a href="http://dev.xoops.org/" target="_blank">dev.xoops.org</a> ]</p>-->

<{if $debug_mode==1}>
<br /><br />
<table align="center" width="100%" cellspacing="1" cellpadding="0" class="outer">
  <tr><th><h2><{$lang_debug}></h2></th></tr>
  <tr><td class="even"> USER: <pre><{$user}></pre></td></tr>
  <tr><td class="odd"> GET : <pre><{$get}></pre></td></tr>
  <tr><td class="even"> POST: <pre><{$post}></pre></td></tr>
  <tr><td class="foot" align="center"><{$generated}></td></tr>
</table>
<{/if}>

</td></tr></table>
</td></tr></table>
